{% extends 'Home/base.html' %}

{% block content %}
    <div class="waxon_tm_portfolio_single_page" data-hero-type="video"> 
        <div class="container">
            <div class="page_inner">
                <div class="hero_image">
                    <img src="/static/img/portfolio/4-2.jpg" alt="" />
                    <div class="main" data-img-url="img/slider/1.jpg"></div>
                </div>
                <div class="hero_video">
                    <img src="/static/img/portfolio/4-2.jpg" alt="" />
                    <div class="video-wrapper">
                        <video loop muted autoplay >
                            <source src="/static/videos/bccis.mp4">
                        </video>
                    </div>
                </div>
                <div class="details">
                    <div class="portfolio_title">
                        <h3>Online LMS</h3>
                        <span>Full Stack Web</span>
                    </div>
                    <div class="descriptions">
                        <div class="leftpart">
                            <p>This project in an online learning management system for Berea Christian College for Intergrated Studies (BCCIS). The web application is built on top of Django MVC framework. HTML5, CSS, JavaScript, for user views, Python for the control Logic, and PostgreSQL for the database and models.</p>
                            <p>This was my first project as a freelance web developer, The project is currently online and has facilitated online learning for more than 300 students in BCCIS through the year 2020. The project would not be a success if not for my colleague <a href="#">Charles Maina Murage</a> , who played a major role in Model Definition and database design. Currently i maintain and make updates to the website in accordance to my client BCCIS specifications.</p>
                        </div>
                        <div class="rightpart">
                        <ul>
                            <li>
                                <h3>Client</h3>
                                <span>BCCIS</span>
                            </li>
                            <li>
                                <h3>Category</h3>
                                <span><a href="#">Software Devevelopment</a></span>
                            </li>
                            <li>
                                <h3>Date</h3>
                                <span>March 07, 2020</span>
                            </li>
                            <li>
                                <h3>Share</h3>
                                <ul class="share">
                                    <li><a href="#"><img class="svg" src="img/svg/social/facebook.svg" alt="" /></a></li>
                                    <li><a href="#"><img class="svg" src="img/svg/social/twitter.svg" alt="" /></a></li>
                                    <li><a href="#"><img class="svg" src="img/svg/social/instagram.svg" alt="" /></a></li>
                                    <li><a href="#"><img class="svg" src="img/svg/social/dribbble.svg" alt="" /></a></li>
                                    <li><a href="#"><img class="svg" src="img/svg/social/tik-tok.svg" alt="" /></a></li>
                                </ul>
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
                <div class="additional_images">
                    <ul class="gallery_zoom">
                    <li>
                        <div class="list_inner">
                            <div class="image">
                                <img src="/static/img/portfolio/4-2.jpg" alt="" />
                                <div class="main" data-img-url="/static/img/portfolio/IMG_2923.jpg"></div>
                            </div>
                            <a class="full_link zoom" href="/static/img/slider/5.jpg"></a>
                        </div>
                    </li>
                    <li>
                        <div class="list_inner">
                            <div class="image">
                                <img src="/static/img/portfolio/4-2.jpg" alt="" />
                                <div class="main" data-img-url="/static/img/slider/login.png"></div>
                            </div>
                            <a class="full_link zoom" href="/static/img/slider/login.png"></a>
                        </div>
                    </li>
                    <li>
                        <div class="list_inner">
                            <div class="image">
                                <img src="/static/img/portfolio/4-2.jpg" alt="" />
                                <div class="main" data-img-url="/static/img/slider/classes.png"></div>
                            </div>
                            <a class="full_link zoom" href="/static/img/slider/classes.png"></a>
                        </div>
                    </li>
                    </ul>
                </div>
                <div class="waxon_tm_pagination">
                    <div class="prev">
                        <span class="circle"><i class="xcon-angle-left"></i></span>
                        <span class="text">Prev Portfolio</span>
                        <a class="link" href="#"></a>
                    </div>
                    <div class="centered">
                        <a href="#"><img class="svg" src="/static/img/svg/all.svg" alt="" /></a>
                    </div>
                    <div class="next">
                        <span class="text">Next Portfolio</span>
                        <span class="circle"><i class="xcon-angle-right"></i></span>
                        <a class="link" href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}