{% extends 'Home/base.html' %}

{% block content %}
    <div class="waxon_tm_hero" id="home">
        <div class="background">
            <div class="leftpart">
            </div>
            <div class="rightpart">
                <div class="inner">
                    <div class="image" data-img-url="static/img/slider/2.jpg"></div>
                    <div class="myOverlay"></div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="content_inner">
                    <div class="name">
                        <h3 class="stroke">Emmanuel</h3>
                        <h3>Njuguna</h3>
                        <span>Creative Web &amp; App Developer</span>
                    </div>
                </div>
                <div class="waxon_tm_down" data-skin="dark" data-position="">  
                    <div class="line_wrapper">
                    <div class="line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="waxon_tm_about" id="about">
        <div class="container">
            <div class="about_inner">
                <div class="left">
                    <img class="thumbnail" src="img/about/2.jpg" alt="" /> 
                </div>
                <div class="right">
                    <div class="name">
                        <h3>Emmanuel Njuguna<span class="bg">About</span></h3>
                        <span>Creative Web &amp; App Developer</span>
                    </div>
                    <div class="text">
                        <p>My name is Emmanuel Njuguna, I am a web developer with vast array of knowledge in many front end and back end languages, responsive frameworks, databases, and best
                            code practices.
                        </p>
                        <p>My objective is simply to be the best web developer that i can be, and to contribute to the technology industry all that i know and can do. I am dedicated to perfecting my craft by learning from more seasoned developers,
                            remaining humble, and continously making strides to learn all that i can about development.
                        </p>
                        <p>While a student at Jomo Kenyata university of Agriculture and Technology, I studied Mathematics, and i believe that my understanding of problem solving and complex algorithms are also skills that have and will continue to contribute to my overall
                            success as a developer.
                        </p>
                    </div>
                    <div class="waxon_tm_button" data-position="left"> 
                        <a href="#" download>
                            <span>Download CV</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="waxon_tm_service">
        <div class="container">
            <div class="service_inner">
            <ul class="owl-carousel">
                <li class="item">
                    <div class="list_inner">
                        <img class="svg" src="../static/img/svg/code.svg" alt="" />
                        <div class="details">
                            <h3>Front End Web</h3>
                            <p>profecient in front end programing languages such as HTML, CSS, Javascript and responsive designs using Bootstrap.</p>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="list_inner">
                        <img class="svg" src="../static/img/svg/creativity.svg" alt="" />
                        <div class="details">
                            <h3>Back end Web</h3>
                            <p>Profecient in C#, Python, and Javascript Programing languages. I am also well experienced with API development.</p>
                        </div>  
                    </div>
                </li>
                <li class="item">
                    <div class="list_inner">
                        <img class="svg" src="../static/img/svg/telegram.svg" alt="" />
                        <div class="details">
                            <h3>Database </h3>
                            <p>As a full stack web developer, i am well versed with Postgresql, and Mysql databases. Good understanding of realtional databases.</p>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="list_inner">
                        <img class="svg" src="../static/img/svg/photoshop.svg" alt="" />
                        <div class="details">
                            <h3>Adobe Photoshop</h3>
                            <p>Web design is a similar process of creation, with the intention of presenting...</p>
                        </div>
                    </div>
                </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="waxon_tm_portoflio" id="portfolio">
        <div class="container">
            <div class="waxon_tm_main_title">
                <div class="title">
                    <h3>Featured Works<span class="bg">Portfolio</span></h3>
                </div>
                <div class="portfolio_filter">
                    <ul>
                        <li>
                            <a href="#" class="current" data-filter="*">
                                <span class="first">All</span>
                                <span class="second">All</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-filter=".branding">
                                <span class="first">Branding</span>
                                <span class="second">Branding</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-filter=".design">
                                <span class="first">Design</span>
                                <span class="second">Design</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-filter=".photography">
                                <span class="first">Photography</span>
                                <span class="second">Photography</span>
                            </a>
                        </li>
                    </ul>
                <div class="wrapper">
                    <a href="#"><span class="trigger"></span></a>
                </div>
                </div>
            </div>
            <div class="portfolio_inner">
                <ul class="gallery_zoom">
                <li class="photography">
                    <div class="list_inner">
                        <div class="image">
                            <img src="../static/img/portfolio/1-1.jpg" alt="" />
                            <div class="video-wrapper">
                                <video loop muted autoplay>
                                    <source src="https://player.vimeo.com/external/390322013.sd.mp4?s=15c5b725ee36b37364ff25c1a709ad4855bc3213&amp;profile_id=165&amp;oauth2_token_id=57447761" type="video/mp4">
                                </video>
                            </div>
                            <a class="full_link" href="portfolio-single.html"></a>
                        </div>
                        <div class="title">
                            <h3><a href="#">Solonick Dance</a></h3>
                            <span><a href="#">Photography</a></span>
                        </div>
                    </div>
                </li>
                <li class="design">
                    <div class="list_inner">
                        <div class="image">
                            <img src="../static/img/portfolio/1-1.jpg" alt="" />
                            <div class="main" data-img-url="../static/img/portfolio/7.jpg"></div>
                            <div class="overlay">
                                <img class="myimage" src="../static/img/youtube.png" alt="" />
                            </div>
                            <a class="full_link popup-youtube" href="https://www.youtube.com/watch?v=iIrSCm_0Sj4"></a>
                        </div>
                        <div class="title">
                            <h3><a href="#">Ice Cream</a></h3>
                            <span><a href="#">Design</a></span>
                        </div>
                    </div>
                </li>
                <li class="branding">
                    <div class="list_inner">
                        <div class="image">
                            <img src="../static/img/portfolio/1-1.jpg" alt="" />
                            <div class="main" data-img-url="../static/img/portfolio/4.jpg"></div>
                            <a class="full_link zoom" href="../static/img/portfolio/4.jpg"></a>
                        </div>
                        <div class="title">
                            <h3><a href="#">Sweet Fruit</a></h3>
                            <span><a href="#">Branding</a></span>
                        </div>
                    </div>
                </li>
                <li class="design">
                    <div class="list_inner">
                        <div class="image">
                            <img src="../static/img/portfolio/1-1.jpg" alt="" />
                            <div class="main" data-img-url="../static/img/portfolio/3.jpg"></div>
                            <a class="full_link zoom" href="../static/img/portfolio/3.jpg"></a>
                        </div>
                        <div class="title">
                            <h3><a href="#">Sweet Cherry</a></h3>
                            <span><a href="#">Design</a></span>
                        </div>
                    </div>
                </li>
                <li class="branding">
                    <div class="list_inner">
                        <div class="image">
                            <img src="../static/img/portfolio/1-1.jpg" alt="" />
                            <div class="main" data-img-url="../static/img/portfolio/8.jpg"></div>
                            <div class="overlay">
                                <img class="myimage" src="../static/img/youtube.png" alt="" />
                            </div>
                            <a class="full_link popup-youtube" href="https://www.youtube.com/watch?v=iIrSCm_0Sj4"></a>
                        </div>
                        <div class="title">
                            <h3><a href="#">Good Present</a></h3>
                            <span><a href="#">Branding</a></span>
                        </div>
                    </div>
                </li>
                <li class="photography">
                    <div class="list_inner">
                        <div class="image">
                            <img src="../static/img/portfolio/1-1.jpg" alt="" />
                            <div class="video-wrapper">
                                <video loop muted autoplay>
                                    <source src="https://player.vimeo.com/external/390319820.sd.mp4?s=db3498515d124d308840893802ee139df82aba3a&amp;profile_id=165&amp;oauth2_token_id=57447761" type="video/mp4">
                                </video>
                            </div>
                            <a class="full_link" href="portfolio-single.html"></a>
                        </div>
                        <div class="title">
                            <h3><a href="#">Mondo Caldano</a></h3>
                            <span><a href="#">Photography</a></span>
                        </div>
                    </div>
                </li>
                </ul>
            </div>
        </div>
        <div class="waxon_tm_button" data-position="center">
            <a href="portfolio.html">
                <span>View All Works</span>
            </a>
        </div>
    </div>
    <div class="waxon_tm_testimonials">
        <div class="container">
            <div class="waxon_tm_main_title">
                <div class="title">
                    <h3>What Clients Say<span class="bg">Testimonial</span></h3>
                </div>
            </div>
            <div class="testi_inner">
                <div class="left">
                    <div class="quote_list">
                        <ul>
                            <li class="active">
                                <img class="svg" src="../static/img/svg/quote-1.svg" alt="" />
                                <p class="text">Good overall template. I am getting back into coding and had a simple question for the author. They responded within 30 minutes and answered my question. Highly recommend.</p>
                                <div class="details">
                                    <div class="image">
                                        <div class="main" data-img-url="../static/img/about/1.jpg"></div>
                                    </div>
                                    <div class="short">
                                        <h3 class="author"><span>Nelly Furtado</span></h3>
                                        <h3 class="job"><span>App Developer</span></h3>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <img class="svg" src="../static/img/svg/quote-1.svg" alt="" />
                                <p class="text">I can't believe I got support and my problem resolved in just minutes from posting my question. Simply amazing team and amazing theme! Thank you very much guys for excellent support! </p>
                                <div class="details">
                                    <div class="image">
                                        <div class="main" data-img-url="../static/img/about/2.jpg"></div>
                                    </div>
                                    <div class="short">
                                        <h3 class="author"><span>Brian Ederson</span></h3>
                                        <h3 class="job"><span>Web Designer</span></h3>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <img class="svg" src="../static/img/svg/quote-1.svg" alt="" />
                                <p class="text">Awesome template, well written code and looks great on any platform. The customer support is very helpful and as huge asset to this template. Overall a good design, that I am quite happy with.</p>
                                <div class="details">
                                    <div class="image">
                                        <div class="main" data-img-url="../static/img/about/3.jpg"></div>
                                    </div>
                                    <div class="short">
                                        <h3 class="author"><span>Steve Collins</span></h3>
                                        <h3 class="job"><span>Artel Corp.</span></h3>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right">
                    <div class="image_list">
                        <ul class="masonry">
                            <li class="active masonry_item">
                                <div class="image">
                                    <img src="../static/img/portfolio/3-4.jpg" alt="" />
                                    <div class="main" data-img-url="../static/img/about/1.jpg"></div>
                                </div>
                            </li>
                            <li class="masonry_item">
                                <div class="image">
                                    <img src="../static/img/portfolio/4-3.jpg" alt="" />
                                    <div class="main" data-img-url="../static/img/about/2.jpg"></div>
                                </div>
                            </li>
                            <li class="masonry_item">
                                <div class="image">
                                    <img src="../static/img/portfolio/1-1.jpg" alt="" />
                                    <div class="main" data-img-url="../static/img/about/3.jpg"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}